@font-face {
	font-family: "Vazirmatn";
	src: url("/assets/helpdesk/fonts/Vazirmatn-wght.woff2") format("woff2");
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

html,
body,
button,
input,
select,
textarea {
	font-family: "Vazirmatn", sans-serif !important;
}
